# TODO Realizar los pasos para crear el servicio
# Run cd /etc/systemd/system/
# Run sudo vim flask.service

[Unit]
Description = flask python command to do useful stuff

[Service]
ExecStart = /home/pi/flask.sh

[Install]
WantedBy = multi-user.target

# TODO realizar el siguiente paso para habilitar el servicio
# Run systemctl enable flask.service